In [1]:
import numpy as np
import seaborn as sb
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Class: (2 for benign, 4 for malignant)
data_names =  ['Sample Code Number' , 'Clump Thickness' ,'Cell Size' , 'Cell Shape' , 
              'Marginal Adhesion' , 'Single Epithelial Cell Size' , 'Bare Nuclei' ,'Bland Chromatin',
              'Mitoses' , 'Class'  ]

data_set = pd.read_csv('breast-cancer-wisconsin.data',names=data_names)
#dataNames =  
#data

In [3]:
data_set.head()

,Sample Code Number,Clump Thickness,Cell Size,Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Mitoses,Class
1000025,5,1,1,1,2,1,3,1,1,2
1002945,5,4,4,5,7,10,3,2,1,2
1015425,3,1,1,1,2,2,3,1,1,2
1016277,6,8,8,1,3,4,3,7,1,2
1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
data_set.shape

(699, 10)

In [5]:
print(data_set)

         Sample Code Number  Clump Thickness  Cell Size  Cell Shape  \
1000025                   5                1          1           1
1002945                   5                4          4           5
1015425                   3                1          1           1
1016277                   6                8          8           1
1017023                   4                1          1           3
1017122                   8               10         10           8
1018099                   1                1          1           1
1018561                   2                1          2           1
1033078                   2                1          1           1
1033078                   4                2          1           1
1035283                   1                1          1           1
1036172                   2                1          1           1
1041801                   5                3          3           3
1043999                   1                1          1           1
1044572                   8                7          5          10
1047630                   7                4          6           4
1048672                   4                1          1           1
1049815                   4                1          1           1
1050670                  10                7          7           6
1050718                   6                1          1           1
1054590                   7                3          2          10
1054593                  10                5          5           3
1056784                   3                1          1           1
1057013                   8                4          5           1
1059552                   1                1          1           1
1065726                   5                2          3           4
1066373                   3                2          1           1
1066979                   5                1          1           1
1067444                   2                1          1           1
1070935                   1                1          3           1
...                     ...              ...        ...         ...
1350423                   5               10         10           8
1352848                   3               10          7           8
1353092                   3                2          1           2
1354840                   2                1          1           1
1354840                   5                3          2           1
1355260                   1                1          1           1
1365075                   4                1          4           1
1365328                   1                1          2           1
1368267                   5                1          1           1
1368273                   1                1          1           1
1368882                   2                1          1           1
1369821                  10               10         10          10
1371026                   5               10         10          10
1371920                   5                1          1           1
466906                    1                1          1           1
466906                    1                1          1           1
534555                    1                1          1           1
536708                    1                1          1           1
566346                    3                1          1           1
603148                    4                1          1           1
654546                    1                1          1           1
654546                    1                1          1           3
695091                    5               10         10           5
714039                    3                1          1           1
763235                    3                1          1           1
776715                    3                1          1           1
841769                    2                1          1           1
888820                    5               10         10           3
897471                    4                8          6           4
897471                    4                8          8           5

         Marginal Adhesion Single Epithelial Cell Size  Bare Nuclei  \
1000025                  2                           1            3
1002945                  7                          10            3
1015425                  2                           2            3
1016277                  3                           4            3
1017023                  2                           1            3
1017122                  7                          10            9
1018099                  2                          10            3
1018561                  2                           1            3
1033078                  2                           1            1
1033078                  2                           1            2
1035283                  1                           1            3
1036172                  2                           1            2
1041801                  2                           3            4
1043999                  2                           3            3
1044572                  7                           9            5
1047630                  6                           1            4
1048672                  2                           1            2
1049815                  2                           1            3
1050670                  4                          10            4
1050718                  2                           1            3
1054590                  5                          10            5
1054593                  6                           7            7
1056784                  2                           1            2
1057013                  2                           ?            7
1059552                  2                           1            3
1065726                  2                           7            3
1066373                  1                           1            2
1066979                  2                           1            2
1067444                  2                           1            2
1070935                  2                           1            1
...                    ...                         ...          ...
1350423                  5                           5            7
1352848                  5                           8            7
1353092                  2                           1            3
1354840                  2                           1            3
1354840                  3                           1            1
1355260                  2                           1            2
1365075                  2                           1            1
1365328                  2                           1            2
1368267                  2                           1            1
1368273                  2                           1            1
1368882                  2                           1            1
1369821                  5                          10           10
1371026                  4                          10            5
1371920                  2                           1            3
466906                   2                           1            1
466906                   2                           1            1
534555                   2                           1            1
536708                   2                           1            1
566346                   2                           1            2
603148                   2                           1            1
654546                   2                           1            1
654546                   2                           1            1
695091                   4                           5            4
714039                   2                           1            1
763235                   2                           1            2
776715                   3                           2            1
841769                   2                           1            1
888820                   7                           3            8
897471                   3                           4           10
897471                   4                           5           10

         Bland Chromatin  Mitoses  Class
1000025                1        1      2
1002945                2        1      2
1015425                1        1      2
1016277                7        1      2
1017023                1        1      2
1017122                7        1      4
1018099                1        1      2
1018561                1        1      2
1033078                1        5      2
1033078                1        1      2
1035283                1        1      2
1036172                1        1      2
1041801                4        1      4
1043999                1        1      2
1044572                5        4      4
1047630                3        1      4
1048672                1        1      2
1049815                1        1      2
1050670                1        2      4
1050718                1        1      2
1054590                4        4      4
1054593               10        1      4
1056784                1        1      2
1057013                3        1      4
1059552                1        1      2
1065726                6        1      4
1066373                1        1      2
1066979                1        1      2
1067444                1        1      2
1070935                1        1      2
...                  ...      ...    ...
1350423               10        1      4
1352848                4        1      4
1353092                1        1      2
1354840                1        1      2
1354840                1        1      2
1355260                1        1      2
1365075                1        1      2
1365328                1        1      2
1368267                1        1      2
1368273                1        1      2
1368882                1        1      2
1369821               10        7      4
1371026                6        3      4
1371920                2        1      2
466906                 1        1      2
466906                 1        1      2
534555                 1        1      2
536708                 1        1      2
566346                 3        1      2
603148                 1        1      2
654546                 1        8      2
654546                 1        1      2
695091                 4        1      4
714039                 1        1      2
763235                 1        2      2
776715                 1        1      2
841769                 1        1      2
888820                10        2      4
897471                 6        1      4
897471                 4        1      4

[699 rows x 10 columns]

In [6]:
data_set.info()
#data_set.isnull()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 1000025 to 897471
Data columns (total 10 columns):
Sample Code Number             699 non-null int64
Clump Thickness                699 non-null int64
Cell Size                      699 non-null int64
Cell Shape                     699 non-null int64
Marginal Adhesion              699 non-null int64
Single Epithelial Cell Size    699 non-null object
Bare Nuclei                    699 non-null int64
Bland Chromatin                699 non-null int64
Mitoses                        699 non-null int64
Class                          699 non-null int64
dtypes: int64(9), object(1)
memory usage: 60.1+ KB